<ion-header>
  <ion-toolbar>
    <ion-title>Create User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="userForm" (ngSubmit)="insertUpdate(); $event.preventDefault()">
       
        <ion-input type="hidden"  formControlName="id"></ion-input>

        <ion-item>
          <ion-label position="stacked">Name</ion-label>
          <ion-input type="text" placeholder="Name" formControlName="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">City</ion-label>
          <ion-input type="text" placeholder="City" formControlName="city"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Age</ion-label>
          <ion-input type="number" placeholder="Age" formControlName="age"></ion-input>
        </ion-item>

        <ion-row>
          <ion-col>
            <ion-button type="submit" color="primary" expand="block" [hidden]="!userForm.value.id" [disabled]="!userForm.valid">Update</ion-button>
            <ion-button type="submit" color="primary" expand="block" [hidden]="userForm.value.id" [disabled]="!userForm.valid">Insert</ion-button>
          </ion-col>
        </ion-row>
  </form>
  <ion-row>
    <ion-col>
      <ion-button type="submit" (click)="back()" color="primary" expand="block">Back</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
