<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mobile Baas 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mobile Baas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
      <ion-toolbar>
        <ion-title>Mobile Baas Example</ion-title>
      </ion-toolbar>

      <ion-button (click)="openCreate()" color="primary">Create</ion-button>
      <ion-button (click)="findAll()" color="primary">Find All</ion-button>
  </div>
</ion-content>
